# R / RStudio
.Rproj.user
.Rhistory
.RData
.Ruserdata
renv/library/

# Secrets / environment variables
.env

# Python virtual environments
venv/
.venv/
env/
ENV/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code settings (optional)
.vscode/

# OS files
.DS_Store
Thumbs.db